.vscode

.env
config.yaml

coverage.out

/pkg/logger/logs/*
/data

/hack

/auth/configs
/auth/logs
/auth/hack

/events/configs
/events/logs

/pickfighter/configs
/pickfighter/logs
/pickfighter/hack

/scraper/logs
/scraper/collection
/scraper/configs

/fighters/configs
/fighters/logs

/fb-server/hack