.vscode

.env
config.yaml

coverage.out

/pkg/logger/logs/*
/data

/hack

/fightbettr/configs
/fightbettr/logs

/scraper/logs
/scraper/collection
/scraper/configs

/fighters/configs
/fighters/logs

/fb-server/hack